package layouts

import "github.com/azeek21/blog/views/components"
import "github.com/azeek21/blog/models"

templ IndexPage(articles []models.Article) {
	@components.BasePage("Azeek's blog - Home", "Share your experiences and thoughts word with the whole world") {
		<h1 class="text-2xl">Latest articles</h1>
		for _, article := range articles {
			@components.ArticlePreview(article)
		}
		<h1>Hi</h1>
	}
}
