{{ block "article-preview" . }}
<a id="post-preview" href="/articles/{{.ID}}" class="flex gap-4 flex-row">
  <div id="post-preview-media" class="w-1/6 min-w-[50px] max-w-[150px]">
    {{ if .ImageUrl }}
    <img class="w-full aspect-square" src="{{.ImageUrl}}" />
    {{ else }}
    <img class="w-full aspect-square" src="/public/logo.png" />
    {{ end}}
  </div>
  <div id="post-preview-meta">
    <h1 id="post-review-title" class="text-xl">{{ .Title }}</h1>
    <p id="post-preview-content" class="text-sm clam-">{{ .Content }}</p>
  </div>
</a>

{{ end }}

{{ block "article" . }}
<div class="flex flex-col content-center px-4 gap-4">
  {{ if .ImageUrl }}
  <img class="max-h-52 h-full aspect-video w-auto object-contain" src="{{.ImageUrl}}" alt="{{ .Title }}" />
  {{ end }}
  <h1 id="post-title" class="text-4xl">{{ .Title }}</h1>
  <p id="post-content" class="text-base">{{ .Content }}</p>
</div>
{{ end }}
