package components

templ BasePage(title, description string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			@DefaultHead(title, description)
		</head>
		<body class="bg-gray-900 border-gray-600 text-gray-200 flex flex-col relative min-w-[280px] min-h-svh h-full">
			@Header()
			<div class="w-full min-h-full p-4 border-inherit">
				{ children... }
			</div>
			@Footer()
		</body>
	</html>
}
