package components

templ FormField(label, name, inputType, placeholder string) {
	<label class="flex-col flex" for={ name }>
		{ label }: <input id={ name } class="border rounded-lg px-2 py-1" type={ inputType } name={ name } placeholder={ placeholder }/>
	</label>
}
