{{ block "header" . }}
<header
  class="w-full border-b border-gray-900 px-4 py-2 flex gap-2 h-min items-center sticky top-0 backdrop-filter backdrop-blur-lg">
  <a href="/">
    <img src="/public/logo.png" class="h-[50px] w-auto object-fit" alt="SiteLogo" />
  </a>

  <nav class="ml-auto">
    <ul class="flex gap-2 items-center">
      <li>
        <a href="#">Latest</a>
      </li>
      <li>
        <a href="#">Categories</a>
      </li>
      <li>
        <a href="#">Authors</a>
      </li>
    </ul>
  </nav>
  <a href="/profile">
    <img class="w-[30px] rounded-full border border-gray-900" src="/public/logo.png" />
  </a>
</header>
{{ end }}
