{{ block "post-preview" . }}
<a id="post-preview" href="/posts/123" class="flex gap-4 flex-row">
  <div id="post-preview-media" class="w-1/6 min-w-[50px] max-w-[150px]">
    <img class="w-full aspect-square" src="public/logo.png" />
  </div>
  <div id="post-preview-meta">
    <h1 id="post-review-title" class="text-xl">{{ .Title }}</h1>
    <p id="post-preview-content" class="text-sm clam-">{{ .Content }}</p>
  </div>
</a>
{{ end }} {{ block "post" . }}
<h1 id="post-title" class="text-xl">{{ .Title }}</h1>
<p id="post-content" class="text-base">{{ .Content }}</p>
{{ end }}
